<h1>Rejestracja</h1>
{if isset($success)}
    Twoje konto zostało założone!
{/if}
{else}
    <form method="post">
        <ol>
            <li>
                <label>
                    Imię:
                    <input type="text" name="first" />
                    {if isset($first_error)}
                        {echo $first_error}
                    {/if}
                </label>
            </li>
            <li>
                <label>
                    Nazwisko:
                    <input type="text" name="last" />
                    {if isset($last_error)}
                        {echo $last_error}
                    {/if}
                </label>
            </li>    
            <li>
                <label>
                    E-mail:
                    <input type="text" name="email" />
                    {if isset($email_error)}
                        {echo $email_error}
                    {/if}
                </label>
            </li>
            <li>
                <label>
                    Hasło:
                    <input type="password" name="password" />
                    {if isset($password_error)}
                        {echo $password_error}
                    {/if}
                </label>
            </li>
            <li>
                <input type="submit" name="register" value="Zarejestruj" />
            </li>
        </ol>
    </form>
{/else}
