<h1>Ustawienia</h1>
{if isset($success)}
    Twoje konto zostało zaktualizowane!
{/if}
{else}
    <form method="post" enctype="multipart/form-data">
        <ol>
            <li>
                <label>
                    Imię:
                    <input type="text" name="first" value="{echo $user->first}" />
                </label>
            </li>
            <li>
                <label>
                    Nazwisko:
                    <input type="text" name="last" value="{echo $user->last}" />
                </label>
            </li>    
            <li>
                <label>
                    E-mail:
                    <input type="text" name="email" value="{echo $user->email}" />
                </label>
            </li>
            <li>
                <label>
                    Hasło:
                    <input type="password" name="password" value="{echo $user->password}" />
                </label>
            </li>
            <li>
                <label>
                    Zdjęcie:
                    <input type="file" name="photo" />
                </label>
            </li>
            <li>
                <input type="submit" name="update" value="update" />
            </li>
        </ol>
    </form>
{/else}
